[submodule "app"]
	path = app
	url = git@github.com:Sagittal/sagittal-app.git
[submodule "docs"]
	path = docs
	url = git@github.com:Sagittal/sagittal-docs.git
[submodule "general"]
	path = general
	url = git@github.com:Sagittal/sagittal-general.git
[submodule "system"]
	path = system
	url = git@github.com:Sagittal/sagittal-system.git

[submodule "scripts-complexity-and-badness-metric-lfc"]
	path = scripts/complexityAndBadnessMetricLfc
	url = git@github.com:Sagittal/sagittal-scripts-complexity-and-badness-metric-lfc.git
[submodule "scripts-edo-staves"]
	path = scripts/edoStaves
	url = git@github.com:Sagittal/sagittal-scripts-edo-staves.git
[submodule "scripts-ji-notation-bound-class"]
	path = scripts/jiNotationBoundClass
	url = git@github.com:Sagittal/sagittal-scripts-ji-notation-bound-class.git
[submodule "scripts-ji-pitch"]
	path = scripts/jiPitch
	url = git@github.com:Sagittal/sagittal-scripts-ji-pitch.git
[submodule "scripts-popular-2-3-free-class"]
	path = scripts/popular23FreeClass
	url = git@github.com:Sagittal/sagittal-scripts-popular-2-3-free-class.git
[submodule "scripts-unpopularity-metric-lfc"]
	path = scripts/unpopularityMetricLfc
	url = git@github.com:Sagittal/sagittal-scripts-unpopularity-metric-lfc.git
